<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="taskManagement" connectionString="server=(local);Integrated Security=True; Database=TaskManagement"  providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <roleManager enabled="true" defaultProvider="CustomRoleProvider">
      <providers>
        <clear />
        <add name="CustomRoleProvider" type="TaskWebApplication.Membership.CustomRoleProvider, TaskWebApplication" connectionStringName="taskManagement" applicationName="/" />
      </providers>
    </roleManager>
    <authentication mode="Forms" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <membership defaultProvider="CustomProvider">
      <providers>
        <add name="CustomProvider"
        connectionStringName="taskManagement"
        applicationName="TaskManagementWebApp"
        enablePasswordRetrieval="false"
        enablePasswordReset="true"
        requiresQuestionAndAnswer="true"
        requiresUniqueEmail="true"
        passwordFormat="Clear"
        type="TaskWebApplication.Membership.CustomMembershipProvider, TaskWebApplication"/>
      </providers>
    </membership>
   
  </system.web>
  <appSettings>
    <add key="ITaskManager" value="TaskApp.Business.TaskManager"/>
    <add key="IUserManager" value="TaskApp.Business.UserManager"/>
    <add key="ITaskService" value="TaskApp.Service.TaskService"/>
    <add key="IUserService" value="TaskApp.Service.UserService"/>
  </appSettings>
  

</configuration>
