<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <compilation debug="true" targetFramework="4.5" />
  <httpRuntime targetFramework="4.5" />
  <connectionStrings>

    <add name="taskManagement" connectionString="server=(local);Integrated Security=True; Database=TaskManagement"  providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>